body {
  margin-top: 50px;
  width: 99%;
  height: 900px;
  background-color: indianred;
}
img{
  height: 300px;
  width: 300px;
  margin: auto;
}
#top-bar {
  margin-top: 28px;
}

.spacing-reset {
  padding: 0;
  margin: 0;
  border: 0;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style-type: none;
  border: 0;
}

@media (min-width: 1200px) {
  .container {
    width: 990px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 990px;
  }
}
pre{
  height: 50px;
  margin-top: 11px;
}
.enter_section {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.btn-success{
  margin-bottom: 3px;
}

#enter_text {
  width: 400px;
  height: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  font-size: 38px;
}

.task {
  border-color: black;
  border-style: solid;
  border-width: 3px;
}

.button-size {
  padding-bottom: 20px;
}

input{
  margin: auto !important;
}

.zb{
  padding: 5px !important;
  margin: 5px !important;
}

#text-enter-button {
  margin-top: 10px;
  margin-bottom: 18px;
}

h1 {
  color: darkblue;
  font-weight: bold;
  color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}
p{
  color: white;
}
